.container-home{
    width: 800px;
    margin: 0 auto;
    
}

.div-header{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-logout{
    width: 50px;
    border-radius: 50%;
}

.create-post-logout{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.create-post-logout .create-Post{
    width: 152px;
    height: 38px;
    border: 1px solid var(--brand100);
    border-radius: 4px;
    color: var(--gray900);
    background-color: var(--brand100);
    cursor: pointer;
}

.category{
    display: flex;
    align-items: center;
    background-color: var(--gray600);
    height: 64px;
    margin: 32px 0
}

.post-list .post{
    margin-bottom: 64px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 6px  var(--gray400);
}

.post .post-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post .img-data{
    display: flex;
    align-items: center;
    gap: 10px;
}

.post .img-data img{
    width: 45px;
    border-radius: 50%;
}

.post .img-data :nth-child(2){
    font-weight: 600;
}

.post .img-data :nth-child(3){
    color: var(--gray400);
}

.post .img-data :nth-child(4){
    color: var(--gray400);
}

.btn-edit-delet button{
    width: 55px;
    height: 32px;
    border-radius: 4px;
    font-weight: 600;
    border: 1px solid var(--gray600);
    cursor: pointer;
}

.btn-edit-delet button:hover{
    background-color: var(--brand100);
    color: var(--gray900);
}

.btn-edit-delet .edit{
    background-color: var(--gray900);
    margin-right: 15px;
}

.btn-edit-delet .delete{
    border: 1px solid var(--gray600);
    color: var(--gray400);

}

.post .post-info h2{
    margin: 24px 0;
}

.post .post-info p{
    word-break: break-all;
    margin-bottom: 24px;
    max-width: 145ch;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.post .post-info .complete-post{
    width: 160px;
    height: 24px;
    color: var(--brand100);
    background-color: var(--gray600);
    border: none;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid var(--gray600);
}

.post .post-info .complete-post:hover{
    background-color: var(--brand100);
    color: white;
  
}

/*Logout*/

.div-main-logout{
    display: flex;
    flex-direction: column;
    position: relative;
}

.div-logout{
    width: 215px;
    position: absolute;
    top: 53px;
    right: 0;
    background-color: var(--gray900);
    border-radius: 4px;
    border: 1px dashed var(--gray400);
    display: none;
}

.div-main-logout:hover > .div-logout{
    display: block;
} 

.div-logout p{
    margin: 10px 0;
    text-align: center;
}

.div-logout button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 16px;
    text-align: center;

}

.div-logout button:hover{
    background-color: var(--gray600);
}
